<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
<!-- namespace : 해당 mapper 파일의 고유한 별칭 -->
<!-- 
	resultMap type이 board인 하나 생성하고
	
	select id 값이 selectListCount, selectList 태그 2개 만들기
 -->
	<!-- 내가 사용하고자 하는 칼럼만 불러오면 됨 -->
	<resultMap type="board" id="boardResultSet">
	 	<id column="BOARD_NO" property="boardNo"/> <!-- 기준이 되는 pk값은 result 대신 id 씀 result로 써도 기능상 문제는 없음 -->
	 	<result column="BOARD_TITLE" property="boardTitle"/>
	 	<result column="BOARD_CONTENT" property="boardContent"/>
	 	<result column="USER_NAME" property="boardWriter"/>
	 	<result column="COUNT" property="count"/>
	 	<result column="CREATE_DATE" property="createDate"/>
	</resultMap>
	
	<!-- 댓글 replyResultSet까지 포함된 boardResultSet -->
	<!-- <resultMap type="board" id="boardResultSet">
	 	<id column="BOARD_NO" property="boardNo"/> 기준이 되는 pk값은 result 대신 id 씀 result로 써도 기능상 문제는 없음
	 	<result column="BOARD_TITLE" property="boardTitle"/>
	 	<result column="BOARD_CONTENT" property="boardContent"/>
	 	<result column="USER_NAME" property="boardWriter"/>
	 	<result column="COUNT" property="count"/>
	 	<result column="BOARD_DATE" property="createDate"/> 여기도 이름 바꿔줘야 됨
	 	<collection property="replyList" resultMap="replyResultSet"/>
	</resultMap> -->
	
	<resultMap type="reply" id="replyResultSet">
	 	<id column="REPLY_NO" property="replyNo"/> <!-- 기준이 되는 pk값은 result 대신 id 씀 result로 써도 기능상 문제는 없음 -->
	 	<result column="REPLY_CONTENT" property="replyContent"/>
	 	<result column="USER_NAME" property="replyWriter"/>
	 	<result column="CREATE_DATE" property="createDate"/>
	</resultMap>
 
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM BOARD
		WHERE STATUS = 'Y'
	</select>
	
	<select id="selectList" resultMap="boardResultSet">
		SELECT *
		FROM BOARD B
		JOIN MEMBER ON (BOARD_WRITER = USER_NO)
		WHERE B.STATUS = 'Y'
		ORDER BY BOARD_NO DESC
	</select>
	
	<!-- int boardNo라는 매개변수를 받았기 때문에 파라미터타입 작성해야 됨 
	     int/_int, integer/_integer 사용 가능-->
	<update id="increaseCount" parameterType="_int"> 
		UPDATE BOARD
		   SET COUNT = COUNT + 1
		 WHERE BOARD_NO = #{boardNo}
		   AND STATUS = 'Y'
	</update>
	
	<select id="selectBoard" resultMap="boardResultSet" parameterType="_int">
		SELECT BOARD_NO,
			   BOARD_TITLE,
			   USER_NAME,
			   BOARD_CONTENT,
			   COUNT,
			   CREATE_DATE
		  FROM BOARD B
		  JOIN MEMBER M ON (BOARD_WRITER = USER_NO)
		 WHERE BOARD_NO = #{boardNo}
		   AND B.STATUS = 'Y'
	</select>
	
	<!-- <select id="selectBoard" resultMap="boardResultSet" parameterType="_int">
		SELECT BOARD_NO,
			   BOARD_TITLE,
			   USER_NAME,
			   BOARD_CONTENT,
			   COUNT,
			   B.CREATE_DATE AS BOARD_DATE, REPLY에서도 CREATE_DATE를 쓰고 있으므로 중복돼서 한 곳에서 이름을 바꿔줘야 됨
			   R.*
		  FROM BOARD B
		  JOIN MEMBER M ON (BOARD_WRITER = USER_NO)
		  LEFT JOIN REPLY R ON (BOARD_NO = REF_BNO)
		 WHERE BOARD_NO = #{boardNo}
		   AND B.STATUS = 'Y'
		 ORDER BY R.CREATE_DATE DESC
	</select> -->
	
	<select id="selectReplyList" resultMap="replyResultSet" parameterType="_int">
		SELECT REPLY_NO,
			   REPLY_CONTENT,
			   USER_NAME,
			   CREATE_DATE
		  FROM REPLY R
          JOIN MEMBER ON (USER_NO = REPLY_WRITER)
		 WHERE REF_BNO = #{boardNo}
		   AND R.STATUS = 'Y'
		 ORDER BY CREATE_DATE DESC
	</select>
	
	<!-- 첫번쨰 방법 -->
	<!-- <select id="selectSearchCount" resultType="_int" parameterType="hashmap">hashmap/Hashmap 둘 다 가능
		SELECT COUNT(*)
		FROM BOARD B
		JOIN MEMBER ON (BOARD_WRITER = USER_NO)
		WHERE B.STATUS = 'Y' AND
		<if test="condition == 'writer'">
			USER_NAME
		</if>
		<if test="condition == 'title'">
			BOARD_TITLE
		</if>
		<if test="condition == 'content'">
			BOARD_CONTENT
		</if>
		LIKE '%' || #{keyword} || '%'
	</select> -->
	
	<!-- 두번째 방법 -->
	<select id="selectSearchCount" resultType="_int" parameterType="hashmap"><!-- hashmap/Hashmap 둘 다 가능 -->
		SELECT COUNT(*)
		FROM BOARD B
		JOIN MEMBER ON (BOARD_WRITER = USER_NO)
		WHERE B.STATUS = 'Y'
		<if test="condition == 'writer'">
			AND USER_NAME
		</if>
		<if test="condition == 'title'">
			AND BOARD_TITLE
		</if>
		<if test="condition == 'content'">
			AND BOARD_CONTENT
		</if>
		LIKE '%' || #{keyword} || '%'
	</select> 
	
	<select id="selectSearchList" resultMap="boardResultSet" parameterType="hashmap">
		SELECT 
			   BOARD_NO,
			   BOARD_TITLE,
			   USER_NAME,
			   COUNT,
			   CREATE_DATE
		  FROM BOARD B
		  JOIN MEMBER ON (BOARD_WRITER = USER_NO)
		 WHERE B.STATUS = 'Y'
		 <choose>
		 	<when test="condition == 'writer'">
		 		AND USER_NAME 
		 	</when>
		 	<when test="condition == 'title'">
		 		AND BOARD_TITLE 
		 	</when>
		 	<otherwise>
		 		AND BOARD_CONTENT
		 	</otherwise>
		 </choose>
		 LIKE CONCAT(CONCAT('%', #{keyword}), '%')
		 ORDER BY BOARD_NO DESC
	</select>
</mapper>